@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">"RED ALERT!!!HE WHO MUST NOT BE NAMED!!!"</h2>
<h4>@Html.ActionLink("Back to Enroll", "Create", "Students")</h4>