@{
    ViewBag.Title = "About Hogwarts";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>Hogwarts School of Witchcraft and Wizardry, a.k.a Hogwarts, 
    is a British school of magic for students aged eleven to eighteen.
    Due to the recent history we encountered in the the wizarding world we want to offer witches and wizards more opportunities to 
    learn and grow by offering summer classes. We believe that the learning never stops so why break for the summer when the 
    students want to be here! Please check back soon for a list of classes we will be offering during the summer. </p>
